{{ form_start(form) }}
    {{ form_row(form.title, {
        label: 'Article Title'
    }) }}

    {{ form_row(form.content) }}
 {% if form.publishedAt is defined %}
     {{ form_row(form.publishedAt) }}
 {% endif %}
    {{ form_row(form.location, {
        attr:{
            'data-specific-location-url': path('article_select_specific_location'),
            class: 'js-article-form-location'
        }
    }) }}
<div class="js-specific-location-target">
{% if form.specificLocationName is defined %}
{{ form_row(form.specificLocationName) }}
{% endif %}
</div>
    {{ form_row(form.author) }}
<button type="submit" class="btn btn-primary"> {{ button_text }}</button>
{{ form_end(form) }}
